.benefits {
  // height: 100vh;

  &__general {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__item {
    font-size: 28px;
    line-height: 1.3;
    color: $shopperLiColor;
    margin-bottom: 10px;
  }
}
