.header {
  border-bottom: 1px solid #ececec;
}

.header-home {
  width: 100%;
  background-color: $backgroundFooterColor;
  height: 90px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-text {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  line-height: 1.16;
  font-weight: 700;
  margin-left: 8px;
  color: $logoColor;
}
.logo-span {
  color: $accentColor;
}

.header-nav {
  @extend %flexBetweenCenter;
  margin: 0 auto;

  &__list {
    @extend %flexBetweenCenter;
    @extend %listStyleNone;
  }

  &__item {
    position: relative;
    text-transform: uppercase;
  }

  &__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $logoColor;
    text-decoration: none;

    transition: color $generalAnimation;

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 40px;
}

.header-nav__link--current {
  color: $accentColor;
}

.contact-quickly {
  @extend %listStyleNone;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    color: $colorText;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color $generalAnimation;

    &:hover,
    &:focus {
      color: $colorFocus;
    }

    @media screen and (min-width: 1280px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

.contact-quickly__list:not(:last-child) {
  margin-right: 50px;
}

.team-head {
  // text-align: center;
  margin-left: 80px;
  margin-top: 20px;
  color: $accentColor;
  font-size: 100px;

  text-shadow: 1px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

.hero__photo {
  display: block;
  margin-left: 60vw;
}

.hero {
  background-image: url('../images/present/Frame.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}
