.type-text {
  font-size: 80px;
  text-align: center;
  color: $blackColor;
}
.road__img {
  display: block;
  height: 500px;
}
.road__general {
  display: flex;
  justify-content: center;
  // margin: 0 auto;
  gap: 10px;
}
