.thanks {
  &__photo {
    width: 80%;
    object-fit: cover;
    margin: 0 auto;
  }

  &__section {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $colorH2-h3;
  }
}
