.shopper {
  &__general {
    display: flex;
    gap: 60px;
  }

  &__name {
    color: $shopperColor;
    font-size: 34px;
    margin-bottom: 30px;
  }
}

.shopper__img {
  border-radius: 50px;
  margin-left: 20px;
}

.shopper__item {
  font-size: 24px;
  color: $shopperLiColor;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
